* {
    margin: 0;
    padding: 0;
}

.navbar {
    height: 100%;
    width: 160px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #404040;    
}

.infopanel {
    margin-left: 160px;
}

a {
    color: lightgray;
    text-decoration: none;
}

a:hover {
    color: white;
}

a.selected {
    color: white;
    font-weight: bold;
}

ul {
    margin: 10px;
    font-size: 0.9em;
}

li {
    margin-bottom: 5px;
}

body {
    font: caption;
    color: WindowText;
	background-color: Window;
	
}

table {
    margin: 10px;
    font-size: 0.9em;
}

th {
    text-align: left;
}

#footer {
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 1.5em;
    color: white;
    background-color: steelblue;
    text-align: right;
    font-size: 0.75em;
}